.profile__about {
  margin: calc(16px - (22px - 18px + 48px - 42px) / 2) 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  font-size: 18px;
}

@media (max-width: 480px) {
  .profile__about {
    margin: calc(14px - (17px - 14px + 33px - 27px) / 2) 0
      calc(36px - (17px - 14px) / 2);
    max-width: 75vw;
    line-height: 17px;
    font-size: 14px;
    text-align: center;
  }
}

/*
Высота текстовых элементов в фигме отображается без учета высоты строки,
из-за чего расстояние между двумя текстовыми элементами меряется не от границ строки с учетом её высоты,
а от фактических границ текстового содержимого, определяемых высотой шрифта.
Браузер же отводит под текст пространство, равное высоте строки,
размещая текст по центру так, что сверху и снизу остается половина разницы между высотой строки и высотой шрифта.
Чтобы указать расстояние до соседнего текстового элемента правильно,
приходится вычитать из расстояния, сообщаемого фигмой,
половину разницы между высотой строки и высотой шрифта.
Можно было бы, конечно, указать высоту строки равной высоте шрифта,
то в таком случае текст будет выглядеть слишком плотно, когда он перенесется на несколько строк.
-------------------------------------------
                         ^
------------------------ | ----------------
 XXX   XXXX    XXXX      |             ^
X   X  X   X  X          |             |
XXXXX  XXXX   X          |_ высота     |_ высота шрифта 1
X   X  X   X  X          |  строки     |
X   X  XXXX    XXXX      |     1       v
------------------------ | ----------------
                         v               ^
--------------------------------------   |
    ^____ расстояние, которое ____^      |_ расстояние, которое
    v   надо указать в разметке   v      |  выдаёт фигма
--------------------------------------   |
                         ^               |
                         |               v
------------------------ | ----------------
 XXXX   XXXXX    XXXX    |             ^
X    X  X    X  X    X   |             |
X    X  XXXXX   X        |_ высота     |_ высота шрифта 2
XXXXXX  X    X  X        |  строки     |
X    X  X    X  X    X   |     2       |
X    X  XXXXX    XXXX    |             v
------------------------ | ----------------
                         |
                         v
-------------------------------------------
*/
