.interactive {
/*
Тут я не совсем понял, что имеется в виду: ведь курсор как раз и был взят из макета -
экспортирован в png с указанием масштаба 1x.
Когда я увидел, какой он большой, подумал, что наверное, что-то напутал с масштабом при экспортировании.
Но потом перепроверил его размеры в Фигме - 35х44 px - выходит, что так и задумывалось.
*/
  cursor: url(../../cursors/custom-pointer.png) 14 0, pointer;
  transition: opacity .3s ease;
}

.interactive:hover {
  opacity: 0.6;
}
